In [5]:
import pandas as pd

df = [["Walloons 16", "Viktoriia", 28], ["Traugutta 76" , "Olena", 27], ["Shekspira 7", "Volodymyr", 32], [ "Saksaganskogo 8","Oleksii", 3]]
columns =  ["address","name","age"]
df = pd.DataFrame(df, columns = columns)


df['is_adult'] = ['Adult' if age >= 18 else 'Child' for age in df['age']]

names_with_o = [name for name in df['name'] if name.startswith('O')]

print("\nDataFrame with New Column 'is_adult':")
print(df)
print("\nNames starting with 'O':", names_with_o)

DataFrame with New Column 'is_adult':
           address       name  age is_adult
0      Walloons 16  Viktoriia   28    Adult
1     Traugutta 76      Olena   27    Adult
2      Shekspira 7  Volodymyr   32    Adult
3  Saksaganskogo 8    Oleksii    3    Child

Names starting with 'O': ['Olena', 'Oleksii']